.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
}

.description__heading {
    display: block;
    width: 100%;
    color: $text-white;
    @include font(22px, 400);
    text-align: center;
    margin-bottom: 5px;
}

.description__heading--big {
    color: $text-white;
    @include font(41px, 700);
}

.description__text {
    width: 274px;
    color: $text-white;
    @include font(15px, 400);
}