.selectors__circulation {
    margin-bottom: 24px;
}

.control__selector--s {
    width: 74px;
    height: 45px;
    border-radius: 8px;
    background-image: $select-gradient;
    &:focus {
        outline: none;
    }
}

.control__selector--m {
    width: 106px;
    height: 45px;
    border-radius: 8px;
    background-image: $select-gradient;
    &:focus {
        outline: none;
    }
}