.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo__logotype {
    width: 150px;
    margin-top: 30px;
}

.logo__text {
    color: $text-white;
    @include font(22px, 400);
    margin-bottom: 25px;
}

.logo__rules {
    width: 104px;
    height: 39px;
    border-radius: 10px;
    @include border(1px, #000);
    background-color: #ffbf42;
    @include font(15px, 700);
    line-height: 22.82px;
    letter-spacing: 0.9px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}