@import"variables.scss";
@import"header.scss";
@import"./main__rules/main__rules.scss";
@import"./main__fields/main__fields.scss";
@import"./main__control/main__control.scss";

.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    padding-left: 7px;
    background-color: $container-bg;
    font-family: $main-font;
    color: $text-color;
}

.main {
    display: flex;
    width: 915px;
    height: 668px;
    background-color: $main-bg;
}

.button {
    width: 168px;
    height: 58px;
    border-radius: 10px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.fas {
    margin-right: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal__content {
    background-color: #fdfcf0;
    margin: 130px auto;
    padding: 20px;
    font-family: $main-font;
    @include border(1px, #888);
    width: 500px;
}

.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}