@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$container-bg: #1a1c1d;
$main-bg: #fe8933;
$tabs-hover: #f1c577;
$field-hd-color: #ffbf42;
$tabs-gradient: linear-gradient( 90deg, rgb(146,146,146) 0%, rgb(199,199,199) 13%, rgb(255,255,255) 100%);
$select-gradient: linear-gradient(to top, #929292 0%, #c7c7c7 13%, #ffffff 100%);
$main-font: "PT Sans";
$text-color: #000;
$text-white: #fff;